<footer>
  <div class="container">
    <div class="col-wide">
      <a href="https://github.com/neovim/neovim">GitHub project</a> &middot;
      <a href="https://groups.google.com/forum/#!forum/neovim">Google Group</a> &middot;
      <a href="http://twitter.com/Neovim">@Neovim on Twitter</a>
  </div>
  <div class="col-narrow">
      This site's source is <a href="https://github.com/stefan991/neovim-devdoc-ci">hosted on GitHub</a>.
    </div>
  </div>
</footer>

  </body>
</html>

