<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link href="http://neovim.org/css/normalize.css" rel="stylesheet">
    <link href="http://neovim.org/css/main.css" rel="stylesheet">
    <link href='<%= base_url %>stylesheets/devdoc.css' rel='stylesheet'>
  </head>
  <body>

<header class="navbar">
  <div class="container">
    <nav class="site-nav">
      <ul>
        <li><a href="http://neovim.org/development-wiki/">Dev Wiki</a></li>
        <li><a href="http://neovim.org/">Neovim Home</a></li>
      </ul>
    </nav>
    <a href="<%= base_url %>"><img src="<%= base_url %>images/logo-devdoc.png" class="logo" alt="Neovim Developer Documentation"></a>
  </div>
</header>

