table {
  width: 100%;
}

th {
  text-align: left;
}

td, th {
  padding-bottom: 0.5em;
  padding-right: 1.5em;
}

.build-new {
  color: grey;
}

.build-started {
  color: orange;
}

.build-finished {
  color: green;
}

.build-error {
  color: red;
}

.build-timeout {
  color: grey;
}

